## packages
packages/icon-app @tomi-msft
packages/react-icons @tomi-msft @behowell
packages/react-icons-font-subsetting-plugin @tomi-msft @MLoughry
packages/svg-icons @tomi-msft
packages/svg-sprites @tomi-msft
packages/react-native-icons @praveen970


## Build Systems
android/ @praveen970
flutter/ @nickromano

## Assets
assets/ @spencer-nelson @willchavez
