node_modules
npm-debug.log
*.sublime-workspace
tmp
dev_tests/automatic/screenshots
importer/dist/*
!importer/dist/.keep
tests
*.DS_Store

.project
.classpath
.settings

.idea

.vscode/

android/library/src/main/res/drawable/
xcuserdata
