node_modules
npm-debug.log
*.sublime-workspace
tmp
dev_tests/automatic/screenshots
dist/
!dist/.keep
*.DS_Store

.project
.classpath
.settings

.idea

.vscode/

xcuserdata
/ios/FluentIcons/Tests

/packages/svg-icons/icons
packages/react-icons/intermediate
packages/react-icons/react-icons-test/
packages/react-icons/lib/
packages/react-icons/lib-cjs/
packages/react-icons/src/icons
packages/react-icons/src/sizedIcons
packages/react-icons/src/index.tsx
packages/react-icons/yarn.lock
packages/react-icons/package-lock.json

packages/react-native-icons/intermediate
packages/react-native-icons/react-icons-test/
packages/react-native-icons/lib/
packages/react-native-icons/lib-cjs/
packages/react-native-icons/src/icons
packages/react-native-icons/src/sizedIcons
packages/react-native-icons/src/index.tsx
packages/react-native-icons/yarn.lock
packages/react-native-icons/package-lock.json

# Some Fluent tooling generates this for internal tracking assistance. Make sure it doesn't get committed.
SvgList.txt

.venv

.build
