node_modules
npm-debug.log
*.sublime-workspace
tmp
dev_tests/automatic/screenshots
dist/
!dist/.keep
*.DS_Store

.project
.classpath
.settings

.idea

.vscode/

xcuserdata
/ios/FluentIcons/Tests

/packages/svg-icons/icons
packages/react-icons/intermediate
packages/react-icons/src/index.tsx
packages/react-icons/lib/
packages/react-icons/lib-cjs/
packages/react-icons/yarn.lock
packages/react-icons/example/yarn.lock
packages/react-icons/example/yarn-error.log
packages/react-icons/package-lock.json
packages/react-icons/example/package-lock.json
packages/react-icons-sized/intermediate
packages/react-icons-sized/src/index.tsx
packages/react-icons-sized/lib/
packages/react-icons-sized/lib-cjs/
packages/react-icons-sized/yarn.lock
packages/react-icons-sized/example/yarn.lock
packages/react-icons-sized/example/yarn-error.log
packages/react-icons-sized/package-lock.json
packages/react-icons-sized/example/package-lock.json

