name: Cocoapods publish

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  # Only runs on the version update commit
  # We need the new podspec available to publish to CocoaPods
  publish-to-cocoapods:
    if: "contains(github.event.head_commit.author.email, 'flubuild@microsoft.com')"
    name: Publish to CocoaPods
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Deploy to CocoaPods
      run: |
        pod spec lint --allow-warnings
        pod trunk push --allow-warnings
      env:
        COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
