name: Pull request validation

on: pull_request

jobs:
  publish-svgs:
    if: "!contains(github.event.head_commit.author.email, 'flubuild@microsoft.com')"
    name: Publish icon libraries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.CI_GITHUB_TOKEN }}

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    ## Publish svg icons
    - name: Build and publish SVGs to npm
      run: |
        npm install
        npm run build
      working-directory: packages/svg-icons

    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
        access: public
        package: packages/svg-icons/package.json
