name: Pull request validation

on: pull_request

jobs:
  valid-asset-names:
    name: Validate Asset Names
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Check asset directories are valid for Windows
      run: |
        ls assets | python3 -c """
        import sys
        assets_dir = sys.stdin.read().strip().split('\n')
        invalid_asset_dirs = []
        for dir in assets_dir:
          if dir.endswith(' '):
            invalid_asset_dirs.append(dir)

        if invalid_asset_dirs:
          print('Invalid asset directories, remove the trailing space')
          print(invalid_asset_dirs)
          exit(1)
        """

  build-ios:
    name: Build iOS library
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    - name: Run generate script
      run: npm run deploy:ios
      working-directory: importer

  build-android:
    name: Build Android library
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    - name: Run generate script
      run: npm run deploy:android
      working-directory: importer

    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 11

    # https://github.com/marketplace/actions/gradle-command
    - name: Build Android library
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: assembleRelease
        build-root-directory: android
        wrapper-directory: android

    - name: Generate BUILD.gn file for Android
      run: python3 generate_build_gn_android.py
      working-directory: importer

  build-flutter:
    name: Build Flutter library
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    - name: Run generate script
      run: npm run deploy:flutter
      working-directory: importer

    # Build Flutter library
    # The name should be same as the package name on pub.dev
    # Tokens are placeholder strings in order for the action to run on forked repos.
    - name: 'fluentui_system_icons'
      uses: k-paxian/dart-package-publisher@master
      with:
        relativePath: 'flutter'
        skipTests: true
        dryRunOnly: true
        accessToken: "placeholder"
        refreshToken: "placeholder"

  build-svg:
    name: Build svg library
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    - run: npm install
      working-directory: packages/svg-icons

    - name: Run build
      run: npm run build
      working-directory: packages/svg-icons

  build-react:
    name: Build svg library
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node 11
      uses: actions/setup-node@v1
      with:
        node-version: 11.x

    - run: npm install
      working-directory: importer

    - run: npm install
      working-directory: packages/react-icons

    - name: Run preconvert
      run: npm run preconvert
      working-directory: packages/react-icons
    
    - name: convert
      uses: mikeal/npx@master
      with:
        args: "@svgr/cli --index-template indexTemplate.js --template template.js --expand-props start --svg-props className={className} --typescript --replace-attr-values \"#212121={primaryFill}\" -d ./src/components ./intermediate/ && mv ./src/components/index.tsx ./src/"

    - name: Run postconvert
      run: npm run postconvert
      working-directory: packages/react-icons

    - name: Build SVG library
      run: |
        npm install
        npm run build
      working-directory: packages/svg-icons

    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
        access: public
        package: packages/svg-icons/package.json
        dry-run: true

    - uses: JS-DevTools/npm-publish@v1
      with:
        token: ${{ secrets.NPM_TOKEN }}
        access: public
        package: packages/react-icons/package.json
        dry-run: true


