name: Publish library

on:
  workflow_dispatch:
  # push:
    # branches: [ main ]
    # paths:
    #  - 'assets/**'

env:
  LIBRARY_VERSION: 1.1.${{ github.run_number }}

jobs:
  publish-library:
    if: "!contains(github.event.head_commit.author.email, 'flubuild@microsoft.com')"
    name: Publish icon libraries
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Bump react version patch
      run: |
        grep -E "[0-9]+\.[0-9]+\.[0-9]+" ./packages/react-native-icons/package.json | python3 -c """
        import sys
        import os
        current_version = sys.stdin.read().strip().split(':')[1]
        current_version = current_version.split('\"')[1]
        major,minor,asset = current_version.split('.')
        os.system(f'echo \"REACT_VERSION={major}.{minor}.{int(asset) + 1}\" >> \$GITHUB_ENV')
        os.system(f'echo \"NEW_VERSION={major}.{minor}.{int(asset) + 1}\" >> \$GITHUB_ENV') 
        """

    # Needs to be "-E" instead of "-r" on macOS
    - name: Replace version number in react-native-icons/package.json
      run: |
        sed -i.bk -r "s/\"version\": \"[0-9]+\.[0-9]+\.[0-9]+(-beta\.[0-9]+)?(-rc\.[0-9]+)?\"/\"version\": \"$REACT_VERSION\"/g" packages/react-native-icons/package.json
        rm packages/react-native-icons/package.json.bk

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 18.x
        registry-url: 'https://npm.pkg.github.com'

    - run: npm install
      working-directory: importer

    - name: Install dependencies
      run: npm install

    - name: Build SVG library
      run: |
        npm run build
      working-directory: packages/svg-icons

    - name: Build React-Native library
      run: |
        npm run build
      working-directory: packages/react-native-icons 
      
    - run: npm publish --tag alpha
      working-directory: packages/react-native-icons 
      env:
        NODE_AUTH_TOKEN: ${{ github.token }}

    - name: Update icon sheet
      run: python3 generate_icons_md.py
    
    - name: Config git credentials
      run: git config user.email "flubuild@microsoft.com" && git config user.name "Fluent Build System"

    - name: Commit version number change
      run: |
        git add -A
        git commit -m "Release $NEW_VERSION"
        
    - name: Tag release
      run: git tag "$NEW_VERSION"

    - name: Push release
      run: |
        REMOTE_REPO="https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
        git push $REMOTE_REPO HEAD:main --follow-tags --tags
